{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
    <!-- Showcase -->
      <section id="showcase">
        <div class="container text-center">
          <div class="home-search p-5">
            <div class="overlay p-5">
              <h1 class="display-4 mb-4">
                Add your Bet
              </h1>
              <div class="search">
                <form action="{% url 'index' %}", method="POST">
                    {% csrf_token %}
                  <!-- Form Row 1 -->
                  <div class="form-row">
                    <div class="col-md-3 mb-3">
                      <label class="sr-only">Units</label>
                      <input type="text" name="units" class="form-control" placeholder="Units">
                    </div>

                    <div class="col-md-3 mb-3">
                      <label class="sr-only">City</label>
                      <input type="text" name="match" class="form-control" placeholder="Match">
                    </div>

                    <div class="col-md-3 mb-3">
                      <label class="sr-only">Detail</label>
                      <input type="text" name="detail" class="form-control" placeholder="Detail">
                    </div>

                    <div class="col-md-3 mb-3">
                      <label class="sr-only">Event</label>
                      <select name="result" class="form-control">
                        <option selected="true" disabled="disabled">Result</option>
                        {% for value, key in result.items %}
                            <option value="{{ value }}">{{ key }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <!-- Form Row 2 -->
                  <div class="form-row">
                    <div class="col-md-4 mb-3">
                      <label class="sr-only">Bedrooms</label>
                      <input type="text" name="odds" class="form-control" placeholder="Odds in decimal">
                      </select>
                    </div>
                    <div class="col-md-4 mb-3">
                      <select name="event" class="form-control" id="type">
                        <option selected="true" disabled="disabled">Event</option>
                        {% for value, key in events.items %}
                            <option value="{{ value }}">{{ key }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label class="sr-only">Date</label>
                      <input type="date" name="date" class="form-control" placeholder="Date">
                    </div>
                  </div>
                  <button class="btn btn-secondary btn-block mt-4" type="submit">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>

      <table class="table">
        <thead>
          <tr>
            {% for k in header %}
              <th>{{k}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for bet in bets %}
            <tr>
              <td>{{bet.date}}</td>
              <td>{{bet.match}}</td>
              <td>{{bet.event}}</td>
              <td>{{bet.odds_in_decimal}}</td>
              <td>{{bet.units}}</td>
              <td>{{bet.detail}}</td>
              <td
                {% if bet.result == 'won' %}
                  style="background: #26a17f"
                {% elif  bet.result == 'won_half' %}
                  style="background: #3ce0af"
                {% elif  bet.result == 'lost' %}
                  style="background: #a41515"
                {% elif  bet.result == 'lost_half' %}
                  style="background: #993333"
                {% endif %}
              >{{bet.result}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <table class="table">
        <tr>
            <th>Total: {{ sum_amount_won }} units</th>
        </tr>
      </table>
{% endif %}

  <!-- Alerts -->
   {% include 'partials/_alerts.html' %}
{% endblock %}